body{
    background-image: url(assets/pexels-pixabay-326311.jpg);
    background-size: 100vw 100vw;
}

*{
    color:white;
}

button{
    color:black;
}

nav{
    display: flex;
    justify-content: center;
    gap:8px;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card > p{
    margin: 8px;
}